# this is a comment

vbox
width 256
height 192

{
   window window1 window1
   hbox {
      menu main "File" {
         menuitem "Open"
         menuitem "New"
         menuitem "Exit"
         menuitem "Alert"
      }
      menu option "Options" {
         menuitem "Opt 1  "
         menuitem "Opt 2  "
         menuitem "Opt 3  "
      }
   }
   hbox {
       label "Flow Control:" height 14 
       poplist example {
           popitem "None"
           popitem "XON/XOFF"
           popitem "Hardware"
       }
   }
   
   panel ren max {
        vbox {
	    hbox { label "one" maxw label "two" maxw label "three" maxw }
            hbox { label "four" label "five" label "six" maxw right }
            vbox {
                label "seven" maxh top
                label "eight" maxh top
                label "nine"  max 
            }
	}
	vbox { label "yellow fish" label "red fish" label "blue fish"}
	vbox { button foo "Foo" button gee "gee" label "fifteen" }
   }
   hbox { label "Volume" hslide volume valmax 11 width 70 value 5 }
   hbox { label "Text Box:" text text1 text1 width 100 }
   hbox height 20 { button ok "Ok"  button save "Save"
   	hbox maxw
   	button quit "Quit" 
   }
}

